{% from 'macros.html' import nav_link, page_title with context %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Peterpan">
  <meta name="author" content="">

  <link rel="icon" href="/static/images/Peterpan-Logo.jpg">

  <title>peterpan</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">

  <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" style="color:#f121a1d8; font-weight:bold; font-size:2.5em;"  href="/">PeterPan</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="my-1 mx-2 close">X</span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">

          {{ nav_link('public.about', 'What We Do') }}
          {{ nav_link('campaigns.campaigns', 'Explore') }}
          {{ nav_link('campaigns.campaign', 'Start a Campaign') }}
          {{ nav_link('public.contact', 'Contact Us') }}

          {% if current_user.is_authenticated %}
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:darkgreen;">
              <i class="fa fa-user-circle"></i>&nbsp;{{ current_user.firstName }}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" style="padding:10px;" href="{{ url_for('auth.profile', user_id=0) }}"><i class="fa fa-user-o"></i>&nbsp;&nbsp;My
                Profile</a>
              <a class="dropdown-item" style="padding:10px;" href="{{ url_for('campaigns.campaigns', filter='U') }}"><i
                  class="fa fa-picture-o"></i>&nbsp;&nbsp;
                My Campaigns</a>
              {% if current_user.userRole == 'A' %}
              <a class="dropdown-item" style="padding:10px;" href="{{ url_for('auth.users') }}"><i
                  class="fa fa-users"></i>&nbsp;&nbsp;
                Users</a>
              {% endif %}
              <hr style="margin-bottom: 0px;margin-top: 0px;">
              <a class="dropdown-item" style="padding:10px;" href="{{ url_for('auth.logout') }}"><i
                  class="fa fa-sign-out" style="font-size: 1.4rem;"></i>&nbsp;&nbsp;Logout</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link"
              style="border: 1px solid darkgreen; display:inline-block;padding-left: 15px; padding-right: 15px;border-radius:20px;"
              href="{{ url_for('auth.login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              style="border: 1px solid darkgreen; display:inline-block;padding-left: 15px; padding-right: 15px;border-radius:20px;"
              href="{{ url_for('auth.signup') }}">Signup</a>
          </li>          
          {% endif %}
          
     
        </ul>
        <form class="form-inline mt-2 mt-md-0" style="margin-left: 1em;">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>

  <!-- Page Content -->
  <div class="container" style="min-height: 500px;padding-top:20px;">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for m in messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ m }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

  </div>
  <!-- /.container -->

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
  </main>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>



</body>

</html>